.register-container {
    max-width: 300px;
    margin: 32px auto;
    background: #232b2b;
    padding: 24px 20px;
    border-radius: 8px;
    color: #fff;

    h2 {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .error {
        color: #ff867c;
        text-align: center;
        margin-top: 16px;
    }

    .success {
        color: #7cff87;
        text-align: center;
        margin-top: 16px;
    }

    input,
    button {
        padding: 6px;
        border-radius: 3px;
        border: 1px solid #333;
        background: #36454f;
        color: #fff;
    }
}